<div class="card shadow-effect">
    <img src="https://images.unsplash.com/photo-1450149632596-3ef25a62011a?q=80&w=1731&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="post-img" class="card-img-top">
     <div class="card-body">
        <small class="bg-light text-danger text-center">hhhhh</small>&nbsp;&nbsp;&nbsp;&nbsp;
        <small class="bg-light text-success text-center ml-3">Featured</small>&nbsp;&nbsp;&nbsp;&nbsp;
        <small class="bg-light text-info text-center ml-3">Views -hhh</small>

        <h5 class="mt-1">....</h5>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste odio, pariatur reprehenderit qui fugiat sequi iusto assumenda consequuntur voluptate harum dolor, nihil officia repudiandae et optio nemo! Provident, totam molestias?</P>

        <small class="bg-light text-dange text-centerr ml-3">LAST UPDATE - </small>

     </div>
</div>
