<div class=" container card shadow-effect">
    <div class="card-body">
        <div class="text-center mt-3 mb-5">
            <h3>SUBSCRIPTION FORM</h3>
            <p class="m-auto subs-text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem, saepe rem? Eligendi perferendis quod doloremque expedita dolores minima. Odit, numquam deleniti id eveniet adipisci magnam ad officiis nihil at architecto.
            </p>
            <div>
        
            <!-- <form action="" class="form-inline  mb-5 mt-5">

                <div class="form-group col-md-5 ">
                  <input type="text" class="form-control shadow-effect " placeholder="Your Name">
                </div>
               <br>
                <div class="form-group col-md-5">
                  <input type="email" class="form-control shadow-effect " placeholder="Email Address">
                </div>
                <br>
                <div class="col-md-2">
                    <button class="btn btn-info btn-block btn-sub">SUBSCRIBE</button>
                </div>  
            </form> -->
            <form action="" class="form-inline mb-5 mt-5 w-100">
              
              <div class="form-group mr-2 mb-2">
                  <input type="text" class="form-control shadow-effect" placeholder="Your Name">
              </div>
              <div class="form-group mr-2 mb-2">
                  <input type="email" class="form-control shadow-effect" placeholder="Email Address">
              </div>
              <div class="form-group mb-2">
                  <button class="btn btn-info btn-block btn-theme">SUBSCRIBE</button>
              </div>
          </form>
          
          </div>
        </div>
    </div>
</div>
